.main {
	display: flex;
	flex-direction: column;
	max-height: calc(100vh - 88px);
	overflow-y: hidden;
}

.centeredFullWindow {
	display: flex;
	height: calc(100vh - 88px);
	width: 100%;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.centered {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.rightSide {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.fullWidth {
	width: 100%;
}

.oneThird{
	width: 33%;
	min-width: 480px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}
