.stackContainer {
	position: relative;
	display: flex;
	align-items: center;
}

.ingredient {
	position: absolute;
}

.remainingCount {
	position: absolute;
	top: 0;
	left: 0;
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 100px;
	font-size: 16px;
}