.container {
	display: grid;
	grid-template-columns: 1fr auto 1fr; /* Создаем три колонки */
	align-items: center;
	padding: 16px;
	background-color: #1C1C21;
}

.nav {
	display: flex;
	gap: 8px;
	justify-self: start; /* Выравниваем содержимое первой колонки к началу */
}

.nav:last-child {
	justify-self: end; /* Выравниваем содержимое последней колонки к концу */
}

.logo-container {
	justify-self: center; /* Центрируем логотип */
}